#!/bin/bash
# Slurm Epilog script that removes directories created by the
# private-tmpdir SPANK plugin.
#
# TMPDIR_BASE needs to match the configured base= in plugstack.conf
#TMPDIR_BASE=/tmp/slurm
{% for tmp in slurm_private_tmpdir %}
PRIVATE_TMPDIR="{{ tmp.base }}.${SLURM_JOB_ID}.${SLURM_RESTART_COUNT:=0}"
[ -d "${PRIVATE_TMPDIR}" ] && rm -rf "${PRIVATE_TMPDIR}"
{% endfor %}
